In [309]:
import tensorflow as tf
import numpy as np
from tensorflow.keras.models import load_model
import pickle

In [310]:
with open ('ohe_Geo.pkl','rb') as file:
    ohe_Geo=pickle.load(file)
with open('le_Gender.pkl','rb') as file:
    le_gender=pickle.load(file)
model=load_model('model.h5')
with open('scaler.pkl','rb') as file:
    sc=pickle.load(file)

WARNING:absl:Compiled the loaded model, but the compiled metrics have yet to be built. `model.compile_metrics` will be empty until you train or evaluate the model.

In [ ]:
import pandas as pd
input_data={
    'CreditScore':800,
    'Geography':'France',       
    'Gender':'Female',
    'Age':20,
    'Tenure':3,
    'Balance':6000,
    'NumOfProducts':2,
    'HasCrCard':10,
    'IsActiveMember':1,
    'EstimatedSalary':50000000
}
df=pd.DataFrame([input_data])
df

   CreditScore Geography  Gender  ...  HasCrCard  IsActiveMember  EstimatedSalary
0          800    France  Female  ...         10               1         50000000

[1 rows x 10 columns]

In [312]:
#Convert the Geography into one hot encoding
geo=ohe_Geo.transform([df['Geography']])
geo=pd.DataFrame(geo,columns=ohe_Geo.get_feature_names_out())
df=df.drop('Geography',axis=1)
geo

/Users/sameeryadav/miniconda3/envs/venv1/lib/python3.12/site-packages/sklearn/utils/validation.py:2739: UserWarning: X does not have valid feature names, but OneHotEncoder was fitted with feature names
  warnings.warn(

   Geography_France  Geography_Germany  Geography_Spain
0               1.0                0.0              0.0

In [313]:

df=pd.concat([df,geo],axis=1)
df

   CreditScore  Gender  ...  Geography_Germany  Geography_Spain
0          800  Female  ...                0.0              0.0

[1 rows x 12 columns]

In [314]:
type(df)
le_gender.classes_

array(['Female', 'Male'], dtype=object)

In [315]:
df['Gender']=le_gender.transform(df['Gender'])
df

   CreditScore  Gender  ...  Geography_Germany  Geography_Spain
0          800       0  ...                0.0              0.0

[1 rows x 12 columns]

In [316]:

scaled=sc.transform(df)
scaled

array([[ 1.54385008e+00, -1.09763453e+00, -1.80016595e+00,
        -6.94748775e-01, -1.12128640e+00,  8.07687762e-01,
         2.03679865e+01,  9.68926971e-01,  8.67221663e+02,
         9.98001996e-01, -5.76152801e-01, -5.77008136e-01]])

In [317]:
prediction=model.predict(scaled)
prob=prediction[0][0]

1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 22ms/step

In [318]:
if(prob<0.5):
    print('Waiter')
else:
    print('Wanderer')

Wanderer